{% load static %}

<html>
	<head>
	
		<!-- JQuery is necessary to even run Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Popper is necessary for the bootstrap dropdown boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> </script>
		<!-- Bootstrap is for all of the UI elements, and automated reactive structuring of the page on multiple platforms -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<img src="{% static 'img/profile.jpg' %}" class="img-fluid"  /> 
				</div>
				<div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11">
					<h1> Elliot's Blog and Site </h1>
				</div>
			</div>
			<div class="row">
				
				<div class="col-1">
					<ul class="list-group">
						<li class="list-group-item list-group-item-action"> <h6> <a href="home"> Home </a> </h6> </li>
						<li class="list-group-item list-group-item-action"> <h6> <a href="blog"> Security Blog </a> </h6> </li>
						<li class="list-group-item list-group-item-action"> <h6> <a href="projects"> Current Projects </a> </h6> </li>
						<li class="list-group-item list-group-item-action"> <h6> <a href="cv"> CV </a> </h6> </li>
						<li class="list-group-item list-group-item-action"> <h6> <a href="books"> Influencial Books </a> </h6> </li>
					</ul>
				</div>
				<div class="col-11">
					{% block content %} {% endblock %} <!-- Imports the page --> 
				</div>
			</div>
		</div>
		
	</body>
	
	<footer> &copy; Copyright 2018 Elliot Lake </footer>
</html>